/* styles for both Anni Albers layouts */

/* by default, let's lay out the first index.html file */

main {
width: 80%;
max-width: 1100px;
margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 0.75rem;
    font-style: italic;
}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width:50%;
}

p.callout {
    font-size: 2rem;
    line-height: 2.2rem;
    font-style: italic;
    float: right;
    text-align: right;
    padding-left: 2em;
    margin-top: 0;
}

#row1 p,
#row4 p {
    margin-left: calc(100% * 1 / 6);
}

#row15 p,
#row5
#row7
#row9
#row11
#row13
#row14
#row16 {
margin-left: calc(100% * 2 / 6);
}

/* ****************************************************** */
/* CSS for index 2                                        */
/* ****************************************************** */

/* inherit on the baseline main code, above */
#secondlayout main {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        'title title title title title title'
        '. p1 p1 . . .'
        'p2 p2 . . c1 c1'
        '. p3 p3 . . .'
        '. . p4 p4 . .'
        '. p5 p5. .'
        '. . . . .'
        '. . . . .'
        '. . . . .'
         '. . . . .'
        '. . . . .';
}

#secondlayout #titlerow { grid-area: title; }
#secondlayout #para1 { grid-area: p1; }
#secondlayout #para1 { grid-area: p2; }
#secondlayout #para1 { grid-area: p3; }
#secondlayout #para1 { grid-area: p4; }
#secondlayout #para1 { grid-area: p5; }
#secondlayout #para1 { grid-area: p6; }
#secondlayout #para1 { grid-area: p7; }
#secondlayout #para1 { grid-area: p8; }
#secondlayout #para1 { grid-area: p9; }
#secondlayout #para1 { grid-area: p10; }
#secondlayout #para1 { grid-area: p11; }
#secondlayout #callout1 { grid-area: c1; }