
*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: white;  
}

header {
    width: 100vw;
    height: 100vh;
}

#rhodiePicture {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(Pacific\ Rhododendron\ 1\ -\ Walter\ Siegmund.jpeg);
    background-size: cover;
    background-position: center center;
    }

    #rhodieTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    }

    #rhodieTitle h1 {
        position: absolute;
        bottom: 0;
        left: 1em;
        color:plum;
        font-size: 2.5em;
        width: calc(100vw - 2em);
    }

    @media screen and (orientation: landscape) {

        #rhodiePicture {
            width: 50vw;
        }

        #rhodieTitle {
            width: 50vw;
            left: 50vw;
            background-color: white
        }

        #rhodieTitle h1 {
            width: 45vw;
            font-family: 'Playfair Display', serif;
        }

    }

    section {
    padding: 4rem 0;
    
}

#row1 p,
#row2 p,
#row3 p,
#row4 p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.3rem;
    max-width: 800px;
    margin: 0 auto 1.5rem auto;
    line-height: 1.8;
}

main section + section::before {
    content: "❀ ❀ ❀";
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    color: #7a9a7b;
    font-size: 1.2rem;
}

@media screen and (min-width: 900px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        max-width: 1200px;
        margin: 4rem auto;
    }

    main section {
        background-color: #f0f6f0;
        padding: 3rem;
        border-radius: 20px;
    }

}